@charset "UTF-8";
/*===============================================
# mixins
=================================================*/
/*===============================================
# color
=================================================*/
/*===============================================
# font_family
================================================*/
/*===============================================
# comonn -全体に共通するスタイル
=================================================*/
@media screen and (max-width: 376px) {
  .is_tab {
    display: none;
  }
  .is_pc {
    display: none;
  }
}

@media screen and (min-width: 376px) {
  .is_sm {
    display: none;
  }
  .is_pc {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .is_sm {
    display: none;
  }
  .is_tab {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333333;
  font-family: "Yu Gothic", YuGothic, sans-serif;
  background: lime;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  height: inherit;
  overflow: hidden;
}

.wrapper_on {
  overflow-y: hidden;
  height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 376px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 376px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 170px;
  }
  .container--about {
    padding: 0;
  }
}

@media screen and (max-width: 376px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 376px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 769px) {
  .section {
    padding: 60px 0;
  }
}

.btn {
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 36px;
  background: black;
}

.btn__link {
  width: inherit;
  height: inherit;
  line-height: inherit;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  vertical-align: bottom;
  letter-spacing: -.7px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 41px;
}

@media screen and (max-width: 376px) {
  .btn__link--about {
    font-size: 11px;
    padding-left: 44px;
  }
}

@media screen and (min-width: 376px) {
  .btn__link--about {
    font-size: 11px;
    padding-left: 44px;
  }
}

@media screen and (min-width: 769px) {
  .btn__link--about {
    font-size: 12px;
    padding-left: 41px;
  }
}

@media screen and (max-width: 376px) {
  .btn--about {
    margin-top: 77px;
  }
}

@media screen and (min-width: 376px) {
  .btn--about {
    margin-top: 50px;
  }
}

@media screen and (min-width: 769px) {
  .btn--about {
    margin-top: 59px;
  }
}

@media screen and (max-width: 376px) {
  .btn--company_content {
    margin-top: 29px;
  }
}

@media screen and (min-width: 376px) {
  .btn--company_content {
    margin-top: 29px;
  }
}

@media screen and (min-width: 769px) {
  .btn--company_content {
    margin-top: 28px;
  }
}

@media screen and (max-width: 376px) {
  .btn--topic {
    margin-top: 28px;
  }
}

@media screen and (min-width: 376px) {
  .btn--topic {
    margin-top: 30px;
  }
}

@media screen and (min-width: 769px) {
  .btn--topic {
    display: block;
    margin-left: auto;
    margin-top: 27px;
  }
}

@media screen and (max-width: 376px) {
  .btn--contact_home {
    margin-top: 57px;
  }
}

@media screen and (min-width: 376px) {
  .btn--contact_home {
    margin-top: 38px;
  }
}

@media screen and (min-width: 769px) {
  .btn--contact_home {
    margin-top: 52px;
  }
}

/* header
------------------------------------------------*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 376px) {
  .header {
    margin-top: 19.8px;
  }
}

@media screen and (min-width: 376px) {
  .header {
    margin-top: 33.84px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    margin-top: 30px;
  }
}

.logo {
  display: inline-block;
}

.logo__img {
  height: inherit;
}

@media screen and (max-width: 376px) {
  .logo {
    width: 189px;
    height: 20.61px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 376px) {
  .logo {
    width: 189px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 769px) {
  .logo {
    width: 260px;
    margin-left: 58px;
  }
}

.header_logo {
  display: inline-block;
}

@media screen and (max-width: 376px) {
  .header_logo {
    width: 189px;
    margin-top: 15px;
    margin-left: 19.84px;
  }
}

@media screen and (min-width: 376px) {
  .header_logo {
    width: 189px;
    margin-top: 33.84px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 769px) {
  .header_logo {
    width: 260px;
    margin-top: 30px;
    margin-left: 58px;
  }
}

.hamburger_link {
  width: 61px;
  height: 13px;
  background: #222222;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

@media screen and (max-width: 376px) {
  .hamburger_link {
    margin-right: 15px;
  }
}

@media screen and (min-width: 376px) {
  .hamburger_link {
    margin-right: 30px;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 769px) {
  .hamburger_link {
    margin-right: 58px;
    margin-bottom: 4px;
  }
}

.hamburger_link__text {
  font-size: 10px;
  color: white;
  margin-left: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.hamburger_icon__part {
  display: block;
  background: white;
  width: 22px;
  height: 2px;
  margin-top: 3px;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hamburger_icon__part:first-child {
  margin-top: 0;
}

.hamburger_icon__part--open1 {
  -webkit-transform: rotate(-30deg) translateY(5px);
          transform: rotate(-30deg) translateY(5px);
}

.hamburger_icon__part--open2 {
  width: 0;
}

.hamburger_icon__part--open3 {
  -webkit-transform: rotate(30deg) translateY(-7px);
          transform: rotate(30deg) translateY(-7px);
}

.gnav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -520px;
  z-index: 10;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: rgba(34, 34, 34, 0.95);
}

.gnav--open {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}

@media screen and (max-width: 376px) {
  .gnav {
    width: 280px;
  }
}

@media screen and (min-width: 376px) {
  .gnav {
    width: 520px;
  }
}

@media screen and (min-width: 769px) {
  .gnav {
    width: 520px;
  }
}

.gnav_container {
  display: block;
  width: 120px;
  margin: 180px auto 0;
  text-align: center;
}

.gnav_icon__img {
  display: inline-block;
  width: 42.15px;
  text-align: center;
  margin: 0 auto 40px;
}

.gnav_list {
  height: 24px;
  margin-bottom: 30px;
}

.gnav_link {
  line-height: 1;
  font-size: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.hamburger_bg {
  display: none;
}

.hamburger_bg--open {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.6);
}

/*===============================================
# mainvisual
================================================*/
.mainvisual {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 376px) {
  .mainvisual {
    height: 667px;
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(24.53%, white), color-stop(24.53%, #222222), to(#222222));
    background: linear-gradient(to right, white 0%, white 24.53%, #222222 24.53%, #222222 100%);
  }
}

@media screen and (min-width: 376px) {
  .mainvisual {
    height: 1024px;
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(26.82%, white), color-stop(26.82%, #222222), to(#222222));
    background: linear-gradient(to right, white 0%, white 26.82%, #222222 26.82%, #222222 100%);
  }
}

@media screen and (min-width: 769px) {
  .mainvisual {
    height: 740px;
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(45.83%, white), color-stop(45.83%, #222222), to(#222222));
    background: linear-gradient(to right, white 0%, white 45.83%, #222222 45.83%, #222222 100%);
  }
}

.mainvisual__bg {
  width: 100%;
  background: url(../img/home-page-top.jpg) center center/cover no-repeat;
}

@media screen and (max-width: 376px) {
  .mainvisual__bg {
    max-width: 287px;
    height: 580px;
  }
}

@media screen and (min-width: 376px) {
  .mainvisual__bg {
    max-width: 600px;
    height: 890px;
  }
}

@media screen and (min-width: 769px) {
  .mainvisual__bg {
    max-width: 1100px;
    height: 640px;
  }
}

.mainvisual_text_box {
  position: absolute;
  color: white;
}

@media screen and (max-width: 376px) {
  .mainvisual_text_box {
    width: 245px;
    height: 227px;
    top: 178px;
    right: 20px;
  }
}

@media screen and (min-width: 376px) {
  .mainvisual_text_box {
    width: 245px;
    height: 433px;
    top: 333px;
    right: 80px;
  }
}

@media screen and (min-width: 769px) {
  .mainvisual_text_box {
    width: 292px;
    height: 322px;
    top: 162px;
    right: 194px;
  }
}

.mainvisual_text_box__text--ja {
  font-family: "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  .mainvisual_text_box__text--ja {
    font-size: 16px;
    letter-spacing: -1.29px;
  }
}

@media screen and (min-width: 376px) {
  .mainvisual_text_box__text--ja {
    font-size: 16px;
    letter-spacing: -1.29px;
  }
}

@media screen and (min-width: 769px) {
  .mainvisual_text_box__text--ja {
    font-size: 20px;
    letter-spacing: -3px;
  }
}

.mainvisual_text_box__text--en {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  .mainvisual_text_box__text--en {
    font-size: 16px;
    letter-spacing: .18px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 376px) {
  .mainvisual_text_box__text--en {
    font-size: 16px;
    letter-spacing: .18px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 769px) {
  .mainvisual_text_box__text--en {
    font-size: 20px;
    letter-spacing: -1px;
    margin-top: 5px;
  }
}

.mainvisual_text_box__text--lead {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 376px) {
  .mainvisual_text_box__text--lead {
    font-size: 56px;
    line-height: .946;
    letter-spacing: 3.6px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 376px) {
  .mainvisual_text_box__text--lead {
    font-size: 56px;
    line-height: .946;
    letter-spacing: 3.6px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 769px) {
  .mainvisual_text_box__text--lead {
    margin-top: 10px;
    font-size: 72px;
    line-height: 1.1944;
    margin-top: 15px;
    letter-spacing: 0px;
  }
}

/*===============================================
# about
================================================*/
@media screen and (max-width: 376px) {
  .about {
    margin-top: 78px;
    background: url(../img/about-img-sm.jpg) center center/cover;
    padding: 50px 0;
  }
}

@media screen and (min-width: 376px) {
  .about {
    margin-top: 80px;
    background: url(../img/about-img-sm.jpg) center center/cover;
    padding: 60px 59px;
  }
}

@media screen and (min-width: 769px) {
  .about {
    background: url(../img/about-img-big.jpg) center center/cover;
    margin: 120px 170px 0;
    padding: 110px 0 110px 50px;
  }
}

.about_body {
  background: white;
  position: relative;
}

@media screen and (max-width: 376px) {
  .about_body {
    min-height: 441px;
    padding: 53px 15px 50px 30px;
  }
}

@media screen and (min-width: 376px) {
  .about_body {
    min-height: 359px;
    padding: 43px 30px 40px 30px;
  }
}

@media screen and (min-width: 769px) {
  .about_body {
    min-height: 387px;
    max-width: 590px;
    padding: 53px 30px 50px 30px;
  }
}

@media screen and (max-width: 376px) {
  .about_body__text {
    font-size: 14px;
    margin-top: 29px;
    line-height: 2;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    letter-spacing: -1.69px;
    font-weight: 400;
  }
}

@media screen and (min-width: 376px) {
  .about_body__text {
    font-size: 16px;
    margin-top: 29px;
    line-height: 2;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    letter-spacing: -2.41px;
    font-weight: 400;
  }
}

@media screen and (min-width: 769px) {
  .about_body__text {
    font-size: 16px;
    margin-top: 29px;
    line-height: 2;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: -2.34px;
    font-weight: 400;
  }
}

.about_ttl {
  display: inline-block;
}

.about_ttl__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 376px) {
  .about_ttl__text {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 376px) {
  .about_ttl__text {
    font-size: 32px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 769px) {
  .about_wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(83.6%, white), color-stop(83.6%, #f0f0f0), to(#f0f0f0));
    background: linear-gradient(to bottom, white 0%, white 83.6%, #f0f0f0 83.6%, #f0f0f0 100%);
  }
}

/*===============================================
# company_content
================================================*/
.company_content {
  background: #f0f0f0;
}

@media screen and (max-width: 376px) {
  .company_inner {
    margin: 0 15px;
    margin-top: 2px;
  }
}

@media screen and (min-width: 376px) {
  .company_inner {
    margin-left: 30px;
    margin-top: 22px;
  }
}

@media screen and (min-width: 769px) {
  .company_inner {
    margin: 0 170px;
    padding-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*===============================================
# works
================================================*/
.works {
  max-width: 520px;
  width: 100%;
}

.works__img {
  max-width: 520px;
}

@media screen and (max-width: 376px) {
  .works__img {
    margin-top: 33px;
  }
}

@media screen and (min-width: 376px) {
  .works__img {
    margin-top: 36px;
  }
}

@media screen and (max-width: 376px) {
  .works__text {
    margin-top: 34px;
    letter-spacing: -1.4px;
  }
}

@media screen and (min-width: 376px) {
  .works__text {
    letter-spacing: -1.4px;
    margin-top: 34px;
  }
}

@media screen and (min-width: 769px) {
  .works__text {
    letter-spacing: -1.4px;
    margin-top: 35px;
  }
}

.works_ttl {
  display: inline-block;
  margin-top: 1px;
}

.works_ttl__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 376px) {
  .works_ttl__text {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 376px) {
  .works_ttl__text {
    font-size: 32px;
    letter-spacing: 2.2px;
  }
}

/*===============================================
# culture
================================================*/
.culture {
  max-width: 520px;
  width: 100%;
}

@media screen and (max-width: 376px) {
  .culture {
    margin: 0 5px;
    padding-top: 3px;
  }
}

@media screen and (min-width: 769px) {
  .culture {
    margin-left: 60px;
  }
}

.culture__img {
  max-width: 520px;
  max-height: 350px;
}

@media screen and (max-width: 376px) {
  .culture__img {
    margin-top: 33px;
  }
}

@media screen and (min-width: 376px) {
  .culture__img {
    margin-top: 36px;
  }
}

.culture__text {
  letter-spacing: -1.4px;
  margin-top: 29px;
  margin-bottom: .8px;
}

@media screen and (max-width: 376px) {
  .culture__text {
    margin-top: 30px;
  }
}

@media screen and (min-width: 376px) {
  .culture__text {
    margin-top: 29px;
  }
}

.culture_ttl {
  display: inline-block;
}

@media screen and (min-width: 376px) {
  .culture_ttl {
    margin-top: 3px;
  }
}

@media screen and (min-width: 769px) {
  .culture_ttl {
    margin-top: 1px;
  }
}

.culture_ttl__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 376px) {
  .culture_ttl__text {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 376px) {
  .culture_ttl__text {
    font-size: 32px;
    letter-spacing: 2.2px;
  }
}

/*===============================================
# topics
================================================*/
.topics {
  background: white;
}

.topics_ttl {
  display: inline-block;
}

@media screen and (max-width: 376px) {
  .topics_ttl {
    margin-top: 3px;
  }
}

@media screen and (min-width: 376px) {
  .topics_ttl {
    margin-top: 3px;
  }
}

@media screen and (min-width: 769px) {
  .topics_ttl {
    margin-top: 3px;
  }
}

.topics_ttl__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 376px) {
  .topics_ttl__text {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 376px) {
  .topics_ttl__text {
    font-size: 32px;
    letter-spacing: 2.2px;
  }
}

.topics_content {
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .topics_content {
    max-width: 700px;
    margin-left: auto;
  }
}

.topic {
  margin-top: 12px;
  border-bottom: 2px solid #dddddd;
}

@media screen and (max-width: 376px) {
  .topic {
    margin-top: 11px;
  }
  .topic:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 769px) {
  .topic {
    max-width: 1100px;
    width: 100%;
  }
}

.topic__date {
  color: #cecece;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: inline-block;
  font-size: 10px;
}

@media screen and (max-width: 376px) {
  .topic__date {
    vertical-align: sub;
  }
  .topic__date--first {
    vertical-align: inherit;
  }
}

@media screen and (min-width: 376px) {
  .topic__date {
    letter-spacing: -0.3px;
    margin-top: 20px;
  }
  .topic__date--first {
    margin-top: 0;
  }
}

.topic__ttl {
  font-family: "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
  letter-spacing: -1.1px;
}

@media screen and (max-width: 376px) {
  .topic__ttl {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .topic__ttl--first {
    line-height: 1.3;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 376px) {
  .topic__ttl {
    margin-top: 11px;
    margin-bottom: 12px;
    font-size: 14px;
    letter-spacing: -2.23px;
  }
}

@media screen and (min-width: 769px) {
  .topic__ttl {
    margin-top: 12px;
  }
}

/*===============================================
# contact_home
================================================*/
.contact_home {
  background: #f2f2f2;
}

@media screen and (min-width: 376px) {
  .contact_home {
    padding: 40px 0 80px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home {
    padding: 40px 0 120px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact_home_content__img {
  background: url(../img/recruit-img.jpg) center/cover;
}

@media screen and (max-width: 376px) {
  .contact_home_content__img {
    padding-top: 67.24%;
  }
}

@media screen and (min-width: 376px) {
  .contact_home_content__img {
    max-width: 520px;
    width: 100%;
    height: 350px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_content__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 580px;
    height: 390px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 376px) {
  .contact_home_content_body {
    margin-top: 30px;
  }
}

@media screen and (min-width: 376px) {
  .contact_home_content_body {
    margin-top: 30px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_content_body {
    margin-top: 93px;
  }
}

.contact_home_content_body__text {
  margin-top: 28px;
  line-height: 2;
}

@media screen and (max-width: 376px) {
  .contact_home_content_body__text {
    letter-spacing: -2.09px;
  }
}

@media screen and (min-width: 376px) {
  .contact_home_content_body__text {
    display: block;
    max-width: 510px;
    width: 100%;
    letter-spacing: -2.14px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_content_body__text {
    max-width: 440px;
    letter-spacing: -2.01px;
  }
}

.contact_home_ttl {
  display: inline-block;
}

@media screen and (max-width: 376px) {
  .contact_home_ttl {
    margin-top: 3px;
  }
}

@media screen and (min-width: 376px) {
  .contact_home_ttl {
    margin-top: 3px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_ttl {
    margin-top: 3px;
  }
}

.contact_home_ttl__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 376px) {
  .contact_home_ttl__text {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 376px) {
  .contact_home_ttl__text {
    font-size: 32px;
  }
}

@media screen and (min-width: 769px) {
  .contact_home_ttl__text {
    letter-spacing: 2.2px;
  }
}
/*# sourceMappingURL=style.css.map */