@charset "utf-8";

/*===============================================
# mixins
=================================================*/

// タブレットもある場合
$breakpoints: ("sm": "screen and (max-width: 376px)", "tab": "screen and (min-width: 376px)", "pc": "screen and (min-width: 769px)");

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: pc) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

/*===============================================
# color
=================================================*/
$text_color1: rgb(51, 51, 51); //メインの色
$text_color2: rgb(255, 255, 255); //サブの色

$bg_color1: rgb(255, 255, 255);
$bg_color2: rgb(34, 34, 34);
$bg_color3: rgb(240, 240, 240);
$bg_color4: rgb(242, 242, 242);

$hamburger_menu_bg: rgba(34, 34, 34, 0.95);
$hamburger_menu_outbg: rgba(34, 34, 34, 0.6);

$topicks_border_color: rgb(221, 221, 221);
$text_color3: rgb(206, 206, 206); //日付の色

$footer_bg: rgb(82, 82, 82);

$btn_bg: rgb(0, 0, 0);
$btn_color: rgb(255, 255, 255);

//dark
$dark_text_color1: rgb(255, 255, 255); //目立たせたいところ
$dark_text_color2: #D0D0D0; //普通の文
$dark_bg: #121212;
$dark_bg2: #525252;
$dark_form_color: #D0D0D0;

/*===============================================
# font_family
================================================*/
$ja_font1: "Yu Gothic", YuGothic, sans-serif;
$ja_font2: "Noto Sans JP", sans-serif;
$eng_font1: "Montserrat", sans-serif;

/*===============================================
# comonn -全体に共通するスタイル
=================================================*/

// タブレットもある場合

@include mq("sm") {
    .is_tab {
        display: none;
    }

    .is_pc {
        display: none;
    } //pcの時だけ表示 hiddenの逆
}


@include mq("tab") {
    .is_sm {
        display: none;
    } //spの時だけ表示 hiddenの逆

    .is_pc {
        display: none;
    } //pcの時だけ表示 hiddenの逆
}


@include mq("pc") {
    .is_sm {
        display: none;
    } //spの時だけ表示 hiddenの逆
    .is_tab {
        display: none;
    }
}

html{
    overflow-x: hidden;

}


body {
    font-size: 16px;
    color: $text_color1;
    font-family: $ja_font1;
    background: green;
}

img {
    width: 100%;
}

.wrapper {
    position: relative;
    height: inherit;
}

.wrapper_on {
    overflow-y: hidden;
    height: 100vh;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @include mq(sm) {
        padding: 0 15px;
    }


    @include mq(tab) {
        padding: 0 30px;
    }


    @include mq(pc) {
        padding: 0 170px;
    }
}

/* header
------------------------------------------------*/

.header {
    width: 100%;
    background-color: $bg_color2;
    display: flex;
    align-items: center;
    position:absolute;
    @include mq(sm) {
        margin-top: 19.8px;
    }


    @include mq(tab) {
        margin-top: 33.84px;
    }


    @include mq(pc) {
        margin-top: 30px;
    }

}

.logo {
    display: inline-block;
    &__img {
        height: inherit;
    }

    @include mq(sm) {
        width: 189px;
        height: 20.61px;
        // margin-left: 15px;
    }


    @include mq(tab) {
        width: 189px;
        margin-left: 30px;
        // height: 20.61px;
    }


    @include mq(pc) {
        width: 260px;
        margin-left: 58px;
        // height: 28.2px;
    }
}

//hamburger
.header_logo {
    display: inline-block;
    
    @include mq(sm) {
        width: 189px;
        margin-top: 15px;
        margin-left: 19.84px;
    }
    
    @include mq(tab) {
        width: 189px;
        margin-top: 33.84px;
        margin-left: 30px;
    }
    
    @include mq(pc) {
        width: 260px;
        margin-top: 30px;
        margin-left: 58px;
    }
}

.hamburger_link {
    width: 61px;
    height: 13px;
    background: $bg_color2;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 20;

    @include mq(sm) {
        // margin-top: 24px;
        margin-right: 15px;
    }


    @include mq(tab) {
        margin-right: 30px;
        margin-bottom: 2px;
    }


    @include mq(pc) {
        // margin-top: 36px;
        margin-right: 58px;
        margin-bottom: 4px;
    }


    &__text {
        font-size: 10px;
        color: $text_color2;
        margin-left: 7px;
        font-family: $eng_font1;
        font-weight: bold;
    }
}

.hamburger_icon {
    &__part {
        display: block;
        background: $bg_color1;
        width: 22px;
        height: 2px;
        margin-top: 3px;
        border-radius: 20px;
        transition: all .3s;

        &:first-child {
            margin-top: 0;
        }

        &--open1 {
            transform: rotate(-30deg) translateY(5px);
        }

        &--open2 {
            width: 0;
        }

        &--open3 {
            transform: rotate(30deg) translateY(-7px);
        }
    }
}

.gnav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -520px;
    z-index: 10;
    transition: all .3s;
    background-color: $hamburger_menu_bg;

    &--open {
        transform: translateX(-520px);
    }

    @include mq(sm) {
        width: 280px;
    }


    @include mq(tab) {
        width: 520px;
    }


    @include mq(pc) {
        width: 520px;
    }
}

.gnav_container {
    display: block;
    width: 120px;
    margin: 180px auto 0;
    text-align: center;
}

.gnav_icon {
    &__img {
        display: inline-block;
        width: 42.15px;
        text-align: center;
        margin: 0 auto 40px;
    }
}

.gnav_list {
    height: 24px;
    margin-bottom: 30px;
}

.gnav_link {
    line-height: 1;
    font-size: 20px;
    color: $text_color2;
    font-family: $eng_font1;
    
}

.hamburger_bg {
    display: none;

    &--open {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $hamburger_menu_outbg;
    }
}


/*===============================================
# mainvisual
================================================*/

.mainvisual{
    background: blue;
    @include mq(sm) {
        height: 667px;
        
    }
    @include mq(tab) {
        height: 1024px;
        
    }
    @include mq(pc) {
        max-height: 740px;
        height: 100%;
    }
    
    &__bg{
        height: 640px;
        max-width: 1100px;
        width: 100%;
        background:url(../img/home-page-top.jpg) center right;
    }
}


